.uenForm {
	width: 500px;
	margin: auto;
}

.UEN-link {
    color: #61dafb;
  }

.error {
	color: white;

}

.tfUen {
	background-color : white;
	border: 1px solid white;
	border-radius: 7px !important;
    margin-right: 5px !important;
} 
